<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>929335192361-5omt8el6jduquvs8h0b3dtq9rgohu7sm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.929335192361-5omt8el6jduquvs8h0b3dtq9rgohu7sm</string>
	<key>API_KEY</key>
	<string>AIzaSyA1a9jbGqLyTT4XThFqfDOMEDJANfG3Ufo</string>
	<key>GCM_SENDER_ID</key>
	<string>929335192361</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ashokacompanion.jigyansurout</string>
	<key>PROJECT_ID</key>
	<string>ashokacompanion</string>
	<key>STORAGE_BUCKET</key>
	<string>ashokacompanion.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:929335192361:ios:b06d5441cbee9d89442538</string>
</dict>
</plist>